doctype 5
html(lang="en")
  head
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Rokkitt:700', rel='stylesheet', type='text/css')
    link(href="/style/style.min.css", rel='stylesheet', type='text/css')
    title= blog.title
  body
    #header
      - blog.links
      each section in blog.links
        .sec
          h3= section.title
          ul
            each link, name in section.links
              li
                a(href = link)= name
      div
        a(href='/')
          h1= blog.title
        .author Alex Wilson
    #sidebar
      #search
        input(placeholder='Search...')
        .loading Loading...
        #results
      #archive
        h4.bigh4 Recent posts
        each post in blog.posts.slice(0, 5)
          .result
            h4
              a(href='/post/' + post.id + '.html')= post.meta.title
            p= post.blurb
    #container
      each post in posts
        include post
  script(src='/script/script.min.js', async)