doctype 5
html(lang="en")
  head
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Rokkitt:700', rel='stylesheet', type='text/css')
    link(href="/style/style.min.css", rel='stylesheet', type='text/css')
    link(href="/style/style.big.min.css", rel='stylesheet', type='text/css', media='all and (min-width: 700px)')
    meta(name = "viewport", content = "width=320", initial-scale = 1)
    title= blog.title
  body
    #header
      - blog.links
      each section in blog.links
        .sec
          h3= section.title
          ul
            each link, name in section.links
              li
                a(href = link)= name
      div
        a(href='/')
          h1= blog.title
        .author Alex Wilson
    #sidebar
      #search
        input(placeholder='Search...')
        .loading Loading...
        #results
      if false
        #buttons
          h4.bigh4 Like what I do?
          iframe(style="border: 0; margin: 0; padding: 0;", id="gittip_btn", width="48pt", height="22pt")
      #archive
        h4.bigh4 Recent posts
        each post in posts.slice(0, 5)
          .result
            h4
              a(href='/post/' + post.id + '.html')= post.meta.title
            p!= post.blurb
    #container
      each post in posts
        include post
  script(src='/script/script.min.js', async)